# MIT (TA1): Data cards for Scenarios 3.1a and 3.4a

## 0. Preprocessing

In [10]:
import io, json, pandas as pd, requests
from gpt_key import *
API_ROOT = "http://localhost:8000/"

# display imports
from IPython.display import display, HTML, Markdown
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Scenario 3-1a. MA Wastewater Flow Rate and Viral Load

`Extract the appropriate data columns (cRNA2 and F2, which represent the viral load in wastewater and the flow rate, respectively) from the paper’s supplemental materials.`

Relevant data columns for flow rate and viral load can be found in two `.csv` files in the supplemental materials; we provide data annotations via data card for each of them here, which includes general annotations about the dataset, statistics about the dataset, and column-level DKG groundings.

Below, we start with the flow rate table:

In [11]:
csv_name = "scenario-3.1a-flow-rates.csv"
pd.read_csv(csv_name)

,Sample Date,"North System Flows to DITP, MGD","South System Flows to DITP, MGD",Total flows to DITP (MGD: Million gallon per day)
0,10/2/20,134.0,64.2,198.2
1,10/3/20,130.5,61.7,192.2
2,10/4/20,126.4,59.2,185.6
3,10/5/20,127.4,60.0,187.5
4,10/6/20,130.1,60.7,190.9
...,...,...,...,...
111,1/21/21,200.3,129.2,329.5
112,1/22/21,193.9,124.3,318.2
113,1/23/21,186.9,119.9,306.8
114,1/24/21,185.1,115.0,300.1
115,1/25/21,180.4,113.6,294.0

We also take a look at the source paper to add context to the datasets; in this scenario, we use the same documentation for both the flow rate and viral concentration datasets.

In [12]:
doc_name = "scenario-3.1a-data-documentation.txt"

with open(doc_name, 'r') as f:
    for line in f.readlines()[:3]:
        print(line)
    print('...') # ellipsis to indicate there's more

2. Materials and methods

2.1. Samples and wastewater data

Raw, 24-h composite wastewater samples were collected from the Deer Island wastewater treatment plant in Massachusetts from October 02, 2020 to January 25, 2021. The Massachusetts wastewater treatment plant where we obtained samples has two major influent streams, which are referred to as the “northern” and “southern” influents. The daily flow rates during the sampling period for the northern and southern influents are 4.54e5–2.3e6 m3/day, and 2.16e5–1.19e6m3/day, respectively. Together the two catchments represent approximately 2.3 million wastewater customers in Middlesex, Norfolk, and Suffolk counties, primarily in urban and suburban neighborhoods. There are 5100 miles of local sewers transporting wastewater into 227 miles of interceptor pipes to the wastewater treatment plant (www.mwra.com), and the typical turnaround time for the plant to treat wastewater is 24 h. Samples were processed as they were received. Experimental methods and data were reported in our previous work (Wu et al., 2022b; Xiao et al., 2022). Briefly, the samples were pasteurized at 60 °C for 1 h for disinfection, and then filtered with 0.2 μm hydrophilic polyethersulfone membrane (Millipore Sigma) to remove bacterial cells and debris. Then, 15-ml filtrate was concentrated to ~200 ul with Amicon Ultra Centrifugal Filter (30-kDa cutoff, Millipore Sigma), and lysed with Qiagen AVL buffer followed by RNA extraction with Qiagen RNeasy kit. SARS-CoV-2 concentrations were quantified by one-step reverse transcription-polymerase chain reaction (RT-PCR) with the Taqman Fast Virus 1-Step Master Mix (Thermofisher) and CDC N1 and N2 primers/probes. Ct values were transformed to copies per ml of wastewater using standard curves for N1 and N2 targets established with synthetic SARS-CoV-2 RNA (Twist Bioscience) as the template. To compute the total viral load in the sewershed, we first averaged the viral concentration in the northern and southern influents by the sampling date, which is then multiplied by the total influent flow rates (i.e., sum of flow rates of northern and southern influents) on the same day.

...

Now that we have our inputs, we are ready to fetch our data card:

In [18]:
with open(csv_name, 'rb') as f_csv, open(doc_name,  'rb') as f_doc:
    files = {'csv_file': ('filename', f_csv), 'doc_file': ('filename', f_doc)}
    params = {"gpt_key": GPT_KEY}
    response = requests.post(API_ROOT + "cards/get_data_card/",  params=params,  files=files)
    json_str = response.text
profile31a_flow = json.loads(json_str)

...and read it:

In [14]:
display(Markdown("# Data Card Output"))
for key, value in profile31a_flow.items():
    if type(value) is str and value != 'UNKNOWN':
        display(Markdown("**" + key.capitalize().replace('_', ' ') + "**: " + value))

# Data Card Output

**Description**: The dataset contains wastewater data collected from the Deer Island wastewater treatment plant in Massachusetts from October 02, 2020 to January 25, 2021.

**Provenance**: The data was collected from the Deer Island wastewater treatment plant in Massachusetts.

**Dataset type**: tabular

In [15]:
profiling_result = profile31a_flow["DATA_PROFILING_RESULT"]
for column_name, output in profiling_result.items():
    # string formating one of the DKG groundings for display
    selected_grounding = output['dkg_groundings'][0]
    grounding_keys = ['id', 'name', 'class']
    grounding_output = [f"<b>{k}</b>: {v}" for k, v in zip(grounding_keys, selected_grounding)]
    profiling_result[column_name]['dkg_groundings'] = '\\n'.join(grounding_output) + '\\n...'

    column_stats = output['column_stats']
    # truncate numbers to a lower floating point precision
    for key, val in column_stats.items():
        if type(val) is float:
            column_stats[key] = round(val, ndigits=3)
    output['column_stats'] = ''
    # pulling up the column type first
    if column_stats.get('type'):
        output['column_stats'] += f"<b>type: {column_stats['type']}</b>\\n\\n"
    # truncating and string formatting most common entries due to length
    if column_stats.get('most_common_entries'):
        output_str = ''
        for i, entry_key in enumerate(column_stats['most_common_entries'].keys()):
            if i > 1:
                continue
            entry_value = column_stats['most_common_entries'][entry_key]
            output_str += f"\\n\\t{entry_key} ({entry_value} times)"
        output_str += "\\n\\t..."
        column_stats['most_common_entries'] = output_str
    # truncate column stats key set
    smaller_key_set = ['earliest', 'latest', 'mean', 'std'] # ['most_common_entries', 'earliest', 'latest', 'mean', 'std', 'min', 'max', '50%']
    if smaller_key_set:
        output['column_stats'] += '\\n'.join(key + ': ' + str(value) for key, value in column_stats.items() if key != 'type' and key in smaller_key_set)
        output['column_stats'] += '\\n\\n'
        output['column_stats'] += '\\n'.join(key + ': ' + str(value) for key, value in column_stats.items() if key != 'type' and key not in smaller_key_set)
    else:
        output['column_stats'] += '\\n'.join(key + ': ' + str(value) for key, value in column_stats.items() if key != 'type')

In [16]:
display(Markdown("# Data Profiling Output"))
df = pd.read_json(io.StringIO(json.dumps(profiling_result)), orient='index')
# deduplicate column names
df = df.drop('col_name', axis=1)
# print the whole description
df['description'] = df['description'].str.wrap(100)
# transpose table
df = df.T
# make sure the table is aligned to the left
df_style = df.style.set_properties(**{'text-align': 'left'})
# make sure the column headers are also aligned to the left
df_style = df_style.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])
# increase the font size
df_style = df_style.set_table_attributes('style="font-size: 14px"')
# replace delimiters for HTML parsing
df_style = df_style.to_html().replace("\\n","<br>").replace("\\t"," ")

display(HTML(df_style))

# Data Profiling Output

Now that we have gone through this data card pipeline, we will wrap it in a function:

In [35]:
def fetch_data_card(csv_filename, documentation_filename):
    with open(csv_name, 'rb') as f_csv, open(doc_name,  'rb') as f_doc:
        files = {'csv_file': ('filename', f_csv), 'doc_file': ('filename', f_doc)}
        params = {"gpt_key": GPT_KEY}
        response = requests.post(API_ROOT + "cards/get_data_card/",  params=params,  files=files)
        json_str = response.text
    data_profile = json.loads(json_str)

    display(Markdown("# Data Card Output"))
    for key, value in data_profile.items():
        if type(value) is str and value != 'UNKNOWN':
            display(Markdown("**" + key.capitalize().replace('_', ' ') + "**: " + value))

    profiling_result = data_profile["DATA_PROFILING_RESULT"]
    for column_name, output in profiling_result.items():
        # string formating one of the DKG groundings for display
        selected_grounding = output['dkg_groundings'][0]
        grounding_keys = ['id', 'name', 'class']
        grounding_output = [f"<b>{k}</b>: {v}" for k, v in zip(grounding_keys, selected_grounding)]
        profiling_result[column_name]['dkg_groundings'] = '\\n'.join(grounding_output) + '\\n...'

        column_stats = output['column_stats']
        # truncate numbers to a lower floating point precision
        for key, val in column_stats.items():
            if type(val) is float:
                column_stats[key] = round(val, ndigits=3)
        output['column_stats'] = ''
        # pulling up the column type first
        if column_stats.get('type'):
            output['column_stats'] += f"<b>type: {column_stats['type']}</b>\\n\\n"
        # truncating and string formatting most common entries due to length
        if column_stats.get('most_common_entries'):
            output_str = ''
            for i, entry_key in enumerate(column_stats['most_common_entries'].keys()):
                if i > 1:
                    continue
                entry_value = column_stats['most_common_entries'][entry_key]
                output_str += f"\\n\\t{entry_key} ({entry_value} times)"
            output_str += "\\n\\t..."
            column_stats['most_common_entries'] = output_str
        # truncate column stats key set
        smaller_key_set = ['earliest', 'latest', 'mean', 'std'] # ['most_common_entries', 'earliest', 'latest', 'mean', 'std', 'min', 'max', '50%']
        if smaller_key_set:
            output['column_stats'] += '\\n'.join(key + ': ' + str(value) for key, value in column_stats.items() if key != 'type' and key in smaller_key_set)
            if column_stats.get('type') and column_stats['type'] == 'categorical':
                pass
            else:
                output['column_stats'] += '\\n\\n'
            output['column_stats'] += '\\n'.join(key + ': ' + str(value) for key, value in column_stats.items() if key != 'type' and key not in smaller_key_set)
        else:
            output['column_stats'] += '\\n'.join(key + ': ' + str(value) for key, value in column_stats.items() if key != 'type')

    display(Markdown("# Data Profiling Output"))
    df = pd.read_json(io.StringIO(json.dumps(profiling_result)), orient='index')
    # deduplicate column names
    df = df.drop('col_name', axis=1)
    # print the whole description
    df['description'] = df['description'].str.wrap(100)
    # transpose table
    df = df.T
    # make sure the table is aligned to the left
    df_style = df.style.set_properties(**{'text-align': 'left'})
    # make sure the column headers are also aligned to the left
    df_style = df_style.set_table_styles([dict(selector='th', props=[('text-align', 'left')])])
    # increase the font size
    df_style = df_style.set_table_attributes('style="font-size: 14px"')
    # replace delimiters for HTML parsing
    df_style = df_style.to_html().replace("\\n","<br>").replace("\\t"," ")

    display(HTML(df_style))

Now, we switch to looking at the viral concentration dataset:

In [21]:
csv_name = "scenario-3.1a-viral-concentration.csv"
pd.read_csv(csv_name)

,Date,SARS-CoV-2 levels [copies/L],log_SARS-CoV-2,seven_day_average,seven_day_average_log
0,10/2/20,4.791207e+04,4.680454,43998.28696,4.643446
1,10/3/20,NaN,NaN,43998.28696,4.643446
2,10/4/20,NaN,NaN,52228.97821,4.717920
3,10/5/20,4.742341e+04,4.676002,52228.97821,4.717920
4,10/6/20,NaN,NaN,55536.09344,4.744583
...,...,...,...,...,...
111,1/21/21,5.159181e+05,5.712582,924447.10450,5.965883
112,1/22/21,6.448364e+05,5.809450,967594.89500,5.985694
113,1/23/21,9.203620e+05,5.963959,884487.78690,5.946692
114,1/24/21,2.038592e+06,6.309331,856670.00150,5.932814
115,1/25/21,1.117430e+06,6.048221,861101.41740,5.935055

... and  present data annotations on this viral concentration dataset through another data card:

In [22]:
csv_name = "scenario-3.1a-viral-concentration.csv"
doc_name = "scenario-3.1a-data-documentation.txt"
fetch_data_card(csv_name, doc_name)

# Data Card Output

**Description**: The dataset contains wastewater data collected from the Deer Island wastewater treatment plant in Massachusetts from October 02, 2020 to January 25, 2021.

**Provenance**: The data was collected from the Deer Island wastewater treatment plant in Massachusetts.

**Dataset type**: tabular

# Data Profiling Output

## Scenario 3-4a. NYC Wastewater Flow Rate and Viral Load

`The City of New York maintains openly available COVID-19 wastewater monitoring data at https://data.cityofnewyork.us/Health/SARS-CoV-2-concentrations-measured-in-NYC-Wastewat/f7dc-2q9f/data. Extract the relevant data columns (viral load, population served); you will also need the flow rate to implement the SEIR-V model. This can be found in Table S1 of the supplemental materials of https://doi.org/10.1039/D1EW00747E. Extract this data from the table.`

For this scenario, we provide data annotations for both indicated datasets via data card. In the case of Table S1, (WISCONSIN) extracted a table from the supplemental materials which we generate data annotations for below. As mentioned above, these data cards include general annotations about the dataset, statistics about the dataset, and column-level DKG groundings.

Below, we start with the NYC wastewater monitoring table:

In [23]:
csv_name = "scenario-3.4a-nyc-wastewater.csv"
pd.read_csv(csv_name)

,Sample Date,Test date,WRRF Name,WRRF Abbreviation,Concentration SARS-CoV-2 gene target (N1 Copies/L),Per capita SARS-CoV-2 load (N1 copies per day per population),Annotation,"Population Served, estimated"
0,08/31/2020,09/01/2020,26th Ward,26W,389.0,263535.64,Concentration below Method Limit of Quantifica...,290608
1,08/31/2020,09/01/2020,Bowery Bay,BB,1204.0,443632.86,NaN,924695
2,08/31/2020,09/01/2020,Coney Island,CI,304.0,168551.56,Concentration below Method Limit of Quantifica...,682342
3,08/31/2020,09/01/2020,Hunts Point,HP,940.0,574446.57,NaN,755948
4,08/31/2020,09/01/2020,Jamaica Bay,JA,632.0,233077.74,NaN,748737
...,...,...,...,...,...,...,...,...
3271,04/11/2023,04/12/2023,Port Richmond,PR,4616.0,1850000.00,NaN,226167
3272,04/11/2023,04/12/2023,Red Hook,RH,4726.0,2080000.00,NaN,224029
3273,04/11/2023,04/12/2023,Rockaway,RK,1697.0,906000.00,NaN,120539
3274,04/11/2023,04/12/2023,Tallman Island,TI,3340.0,1210000.00,NaN,449907
3275,04/11/2023,04/12/2023,Wards Island,WI,605.0,343000.00,NaN,1201485

... and take a peek at the documentation, taken from the dataset description webpage hosted by the NYC wastewater data portal:

In [28]:
doc_name = "scenario-3.4a-nyc-wastewater-documentation.txt"

with open(doc_name, 'r') as f:
    for line in f.readlines()[:10]:
        print(line)
    print('...') # ellipsis to indicate there's more

Skip to Main Content

NYC Open Data logo

SARS-CoV-2 concentrations measured in NYC Wastewater

Health

View Data



Visualize

ExportAPI



Results of sampling to determine the SARS-CoV-2 N gene levels in NYC DEP Wastewater Resource Recovery Facility (WRRF) influent, disaggregated by the WRRF where the sample was collected, date sample was collected, and date sample was tested.

...

With these two inputs, we retrieve the following data card:

In [36]:
csv_name = "scenario-3.4a-nyc-wastewater.csv"
doc_name = "scenario-3.4a-nyc-wastewater-documentation.txt"
fetch_data_card(csv_name, doc_name)

# Data Card Output

**Description**: Results of sampling to determine the SARS-CoV-2 N gene levels in NYC DEP Wastewater Resource Recovery Facility (WRRF) influent, disaggregated by the WRRF where the sample was collected, date sample was collected, and date sample was tested.

**Author name**: Department of Environmental Protection (DEP)

**Date**: May 1, 2023

**Dataset type**: tabular

# Data Profiling Output

Last, but not least, we inspect Table S1 from the paper's supplemental materials:

In [30]:
csv_name = "scenario-3.4a-supplement.csv"
pd.read_csv(csv_name)

,Wastewater Resource Recovery Facility (WRRF),Borough(s),Population Served*,Daily Flow Range (Average)† in MGD
0,Hunts Point,Bronx,"755,948",115 - 215 (136)
1,Wards Island,Bronx and Manhattan,"1,201,485",143 - 273 (180)
2,North River,Manhattan,"658,596",81 - 143 (94)
3,Newtown Creek,"Manhattan, Brooklyn, \nand Queens","1,156,473",158 - 296 (188)
4,Red Hook,Brooklyn,"224,029",21 - 46 (26)
5,Owls Head,Brooklyn,"906,442",81 - 159 (95)
6,Coney Island,Brooklyn,"682,342",70 - 102 (82)
7,26th Ward,Brooklyn,"290,608",44 - 89 (55)
8,Rockaway,Queens,"120,539",18 - 25 (20)
9,Jamaica Bay,Queens,"748,737",74 - 103 (81)
10,Tallman Island,Queens,"449,907",48 - 90 (59)
11,Bowery Bay,Queens,"924,695",82 - 179 (100)
12,Port Richmond,Staten Island,"226,167",23 - 55 (29)
13,Oakwood Beach,Staten Island,"258,731",24 - 41 (28)

...and peek at the paper contents, which are used as this dataset's documentation:

In [33]:
doc_name = "scenario-3.4a-supplement-documentation.txt"

with open(doc_name, 'r') as f:
    for line in f.readlines()[:5]:
        print(line)
    print('...') # ellipsis to indicate there's more

Monitoring SARS-CoV-2 in wastewater during New York City's second wave of COVID-19: sewershed-level trends and relationships to publicly available clinical testing data†	Check for updates

Catherine Hoar, ORCID logo a   Francoise Chauvin,b   Alexander Clare,b   Hope McGibbon,b   Esmeraldo Castro,b   Samantha Patinella,b   Dimitrios Katehis,b   John J. Dennehy, ORCID logo cd   Monica Trujillo,e   Davida S. Smyth‡f  and  Andrea I. Silverman ORCID logo *a

 Author affiliations

Abstract

New York City's wastewater monitoring program tracked trends in sewershed-level SARS-CoV-2 loads starting in the fall of 2020, just before the start of the city's second wave of the COVID-19 outbreak. During a five-month study period, from November 8, 2020 to April 11, 2021, viral loads in influent wastewater from each of New York City's 14 wastewater treatment plants were measured and compared to new laboratory-confirmed COVID-19 cases for the populations in each corresponding sewershed, estimated from publicly available clinical testing data. We found significant positive correlations between viral loads in wastewater and new COVID-19 cases. The strength of the correlations varied depending on the sewershed, with Spearman's rank correlation coefficients ranging between 0.38 and 0.81 (mean = 0.55). Based on a linear regression analysis of a combined data set for New York City, we found that a 1 log10 change in the SARS-CoV-2 viral load in wastewater corresponded to a 0.6 log10 change in the number of new laboratory-confirmed COVID-19 cases per day in a sewershed. An estimated minimum detectable case rate between 2–8 cases per day/100 000 people was associated with the method limit of detection in wastewater. This work offers a preliminary assessment of the relationship between wastewater monitoring data and clinical testing data in New York City. While routine monitoring and method optimization continue, information on the development of New York City's wastewater monitoring program may provide insights for similar wastewater-based epidemiology efforts in the future.

...

Finally, we present data annotations on the supplemental table via data card:

In [34]:
csv_name = "scenario-3.4a-supplement.csv"
doc_name = "scenario-3.4a-supplement-documentation.txt"
fetch_data_card(csv_name, doc_name)

# Data Card Output

**Description**: Monitoring SARS-CoV-2 in wastewater during New York City's second wave of COVID-19: sewershed-level trends and relationships to publicly available clinical testing data† Check for updates

**Author name**: Catherine Hoar, Francoise Chauvin, Alexander Clare, Hope McGibbon, Esmeraldo Castro, Samantha Patinella, Dimitrios Katehis, John J. Dennehy, Monica Trujillo, Davida S. Smyth, Andrea I. Silverman

**Provenance**: New York City's wastewater monitoring program tracked trends in sewershed-level SARS-CoV-2 loads starting in the fall of 2020, just before the start of the city's second wave of the COVID-19 outbreak.

**Dataset type**: tabular

# Data Profiling Output

In [37]:
csv_name = "scenario-3.4a-nyc-wastewater.csv"
doc_name = "scenario-3.4a-nyc-wastewater-documentation.txt"
fetch_data_card(csv_name, doc_name)

# Data Card Output

**Description**: Results of sampling to determine the SARS-CoV-2 N gene levels in NYC DEP Wastewater Resource Recovery Facility (WRRF) influent, disaggregated by the WRRF where the sample was collected, date sample was collected, and date sample was tested.

**Author name**: Department of Environmental Protection (DEP)

**Date**: May 1, 2023

**Dataset type**: tabular

# Data Profiling Output